.App {
  text-align: center;
}

.appContainer {
  background-color:#006666;
  min-height: 100vh;
  position: relative;
}

.navbar {
  background-color:#3d6600;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  color: white;
  z-index: 10;
}

.Footer {
  border: 2px solid #282c34;
  position: absolute;
  bottom: 0;
  min-width: 100vw;
  background: #3d6600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 5px;
  background: whitesmoke;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head {
  display: flex;
  flex-direction: row;
  max-width: 75vw;
  margin-bottom: 2%;
  color: whitesmoke;
  text-shadow: 0 2px 5px black;
  /* background: whitesmoke; */
  border: 2px solid black;
    border-radius: 7px;
}



.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
  position: relative;
}

.list-group {
  border:#59A661;
  border-style: double;
  border-width: 5px;
}
.submit-form {
  max-width: 300px;
  margin: auto;
}
.edit-form {
  max-width: 300px;
  margin: auto;
}

label {
  display: block;
  margin-top: 10px;
}

h4 {
  color: rgb(255, 255, 255);
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.blogCard {
  background-color: #f7f7f7;
  
}

.btn {
  border: 2px solid #282c34;
  border-radius: 5px;
}

#writingPic {
  width: 50%;
}
#name {
  margin-top: 15%;
}

#arts {
  display: flex;
  background: #006600;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 25%;
  border: 2px solid #282c34;
  padding: 5%;
}

#login {
  margin-bottom: 25%;
}

.input-group {
  border-color: #282c34;
}